<%- include('../layouts/adminheader.ejs') %>
<div class="admin__panel section">
    <div>
        <h2 class="section__title categories__title"><%= title %></h2>
        <span class="section__subtitle">Logged in as admin!</span>
        <hr>
    </div>
	
</div>

<%- include('../layouts/footer.ejs') %>
