<%- include('./layouts/header.ejs') %>
<link rel="stylesheet" href="/css/login.css"> 

<div class="login">
	<h2 class="section__title login__title"><%= title %></h2>
	<span class="section__subtitle"></span>
	<hr>
	<div class="login__container grid">
		<form method="post" action="/users/login" class="login__form grid">
			<div class="login__content">
				<label for="password" class="login__label">Username</label>
				<input type="text" name="username" class="login__input" placeholder="Username">
			</div>
			<div class="login__content">
				<label for="password" class="login__label">Password</label>
				<input type="password" name="password" class="login__input" placeholder="Password">
			</div>

			<button type="submit" class="button button--flex login__button">Login</button>
		</form>
	</div>
</div>

<%- include('./layouts/footer.ejs') %>
