.sorting tr:not(.home) {
  cursor: pointer;
}

.ui-state-highlight {
  border: 1px dashed #ccc;
}

#imgPreview {
  margin: 1.5rem;
}

#noImage,
#uploadedImage {
  width: 100px;
  height: 100px;
}

ul.gallery {
  padding: 0;
}

ul.gallery li {
  margin: 20px;
  display: inline-block;
  list-style: none;
}

table.align-middle td {
  vertical-align: middle !important;
}


