#imgPreview {
  margin: 1.5rem;
}

#noImage,
#uploadedImage {
  width: 100px;
  height: 100px;
  border-radius: 0.25rem;
}

.admin__panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add__button--admin {
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
} 

.no__products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.table__title,
.admin__product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.table__title--cat,
.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.table__title--portfolio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.table__title,
.table__title--cat,
.table__title--portfolio {
  margin-top: 2rem;
}

.admin__product,
.category,
.admin__portfolio {
  margin: 2rem 0;
}

.table__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--input-clr);
	padding: 0.75rem 1rem 0.25rem;
	border-radius: 0.5rem;
}

.categories,
.products,
.portfolio {
  height: 100vh;
}

.admin__portfolio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}