.product__container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 1.5rem);
}

.product__title--details {
  margin-bottom: 2rem;
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product__img {
  width: 200px;
  border-radius: 0.2rem;
  margin: 2rem 0;
}

.product__description {
  margin-bottom: 1rem;
}

.add__button {
  justify-content: center;
}

a.add__button .button__icon {
  display: inline-block;
}

.product__bg {
  background: var(--container-clr);
  padding: 1.5rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}

.footer {
  margin-top: auto;
}

@media screen and (max-width: 375px) {
  .product__bg {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 768px) {

  .product__img {
    width: 300px;
  }

  .add__button {
    width: 400px;
  }

  .product__bg {
    padding: 2.5rem;
  }
}